// イージング変数 (http://easings.net/)
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

body {
  display: grid;
  place-items: center;
  text-align: center;
}

.content {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
}

#liquid-effect {
  mask-image: url('/liquid.svg');
  mask-size: 40%;
  mask-repeat: no-repeat;
  mask-position: 50% 40%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5662eb;
    z-index: 1;
  }

  &.is-active {
    mask-size: 280%;
    transition: mask-size 1.5s $ease-in-out 0.5s;

    &::after {
      transition: opacity 0.5s linear 0.5s;
      opacity: 0;
    }
  }
}
